*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  background-image: url(../assets/images/borgmesterchristiansensgade_2.webp);
}

body {
  max-width: 1100px;
  margin: auto;
  padding: 0;
  background-color: var(--smoke);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  padding: 0;
  margin: 0;
  font: var(--p-font);
  color: var(--raisin);
}

/* Start: Header inkl. sidebar */
header {
  padding: 1rem 2rem;
  font: var(--header-font);
  display: flex;
  position: relative;
  min-height: 300px;
  width: 100%;
  max-width: 1100px;
  background-image: url(../assets/images/koehlershave_dark.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

header a img {
  position: relative;
  height: 40px;
  width: auto;
  z-index: 4;
}

input[type="checkbox"] {
  display: none;
}

.toggle-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
}

.menu-text,
.menu-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.menu-text {
  font-size: 20px;
  color: var(--turbo);
}

.menu-line {
  width: 30px;
  height: 4px;
  background: var(--raisin);
  transform-origin: center;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.3s ease;
  border-radius: 999px;
}

.menu-line_1 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-line_2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

input:checked + .toggle-label .menu-text {
  opacity: 0;
}

input:checked + .toggle-label .menu-line {
  opacity: 1;
}

.sidebar {
  font: var(--menu-font);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--turbo);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: var(--raisin);
}

.sidebar nav ul li a:hover {
  text-decoration: underline;
}

.sidebar nav ul li {
  padding-bottom: 2rem;
}

header input:checked ~ .sidebar {
  transform: translateX(0%);
}

/* Slut: Header inkl. sidebar */

.hero-btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--btn-padding);
  background-color: transparent;
  font: var(--btn-font);
  color: var(--turbo);
  text-transform: uppercase;
  border: 1px solid var(--turbo);
  border-radius: 5px;
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  gap: 0 1rem;
}

.hero-btn img {
  height: auto;
  max-height: 1.5rem;
  width: auto;
}

.breadcrumbs {
  display: inline-flex;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  gap: 1rem;
  color: var(--turbo);
  font: var(--p-font);
}

.crumb {
  color: var(--turbo);
  text-transform: uppercase;
}

.container,
.container_2,
.container_portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.container_2 img {
  width: 100%;
}

.statement {
  font: var(--h1-font);
  color: var(--raisin);
}

.divider,
.divider_3 {
  background-color: var(--raisin);
  height: 2px;
  width: auto;
  margin: 2rem 2rem 2rem 2rem;
}

.divider {
  margin: 1rem 2rem 1rem 2rem;
}
.divider_2 {
  background-color: var(--raisin);
  height: 2px;
  width: auto;
  margin: 2rem 0 2rem 0;
}

.infotags {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  font: var(--infotag-font);
  text-transform: uppercase;
  color: var(--raisin);
  margin: 0 2rem;
}

.infotags_2 {
  margin: 0.5rem 0;
}

.infotag {
  border: 1px solid var(--raisin);
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  margin-bottom: 0.15rem;
}

.desktop-only {
  display: none;
}

.btn a {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  font: var(--btn-font);
  color: var(--raisin);
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.btn a:hover {
  border-top: 1px solid var(--raisin);
  border-bottom: 1px solid var(--raisin);
}

.btn img,
.to-top img {
  height: 1.5rem;
  width: auto;
  cursor: pointer;
}

.to-top,
.copyright,
.footer-logo {
  display: flex;
  margin: 1rem 2rem 0;
  gap: 1rem;
  text-transform: uppercase;
  align-items: center;
}

.to-top {
  justify-content: flex-end;
  margin-top: 2rem;
}

.footer-logo {
  justify-content: center;
  padding: 0 0 1rem;
}

.footer-logo img {
  height: 5rem;
}

.copyright {
  justify-content: flex-start;
  padding-bottom: 2rem;
}

.copyright p {
  font: var(--footer-font);
}

figcaption {
  font: var(--infotag-font);
  color: var(--raisin);
  margin: 0;
  padding: 0 0 0.5rem;
}

figure {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

figure img {
  padding-bottom: 0.5rem;
}

.linkedin-btn {
  margin-top: 3rem;
}

.container_2 .infotags,
.container_portfolio .infotags {
  margin: 1rem 0 1rem 0;
}

.container_theme {
  margin: 1rem 2rem;
}

.container_theme p:not(:first-of-type) {
  padding: 2rem 0 2rem 0;
}

.link-sub-desc {
  padding-top: 0.5rem;
}

figure img {
  margin-top: 0;
  padding-top: 0;
}

.kivilai_1 {
  padding: 2rem 0 0.5rem;
}

#kivilai_3 {
  padding-bottom: 2rem;
}

.theme_5 figure:nth-of-type(1) {
  padding-bottom: 1rem;
}

.add-space {
  margin-top: 2rem;
}

.theme_4 .emergency_1 {
  display: flex;
  margin: auto;
  animation: rotate 50s linear infinite;
  padding: 2rem 0 1rem;
}

.theme_3 .emnesite_1 {
  margin: auto;
  padding: 2rem 0 1rem;
}

.pf-img {
  margin-bottom: 1rem;
  filter: grayscale(0.5);
  transition: filter 0.6s ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 499px) {
  .theme-img {
    filter: grayscale(1);
    transition: filter 0.6s ease-in-out;
  }

  .theme-img:hover {
    filter: grayscale(0);
  }

  .hero {
    min-height: 450px;
  }

  .container_theme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 3.5rem;
  }

  .theme_4 .emergency_1 {
    padding-top: 0;
  }

  .theme_3 .emnesite_1 {
    padding-top: 0;
  }

  .pf-img {
    border-top: 1px solid var(--raisin);
    border-bottom: 1px solid var(--raisin);
  }

  .slim-left {
    margin-left: 4rem;
  }

  .fig-span_5_1 {
    grid-row: span 2;
  }

  .theme_5 figure:nth-of-type(2),
  .theme_4 figure:nth-of-type(2),
  .theme_3 figure:nth-of-type(2),
  .theme_2 figure:nth-of-type(2) {
    grid-column: 1;
  }

  .theme_5 figure:nth-of-type(1) {
    padding-bottom: 0;
  }

  .fig-span_5_2 {
    grid-column: 2;
    grid-row: span 6;
  }

  .theme_5 p:nth-of-type(2),
  .theme_4 p:nth-of-type(2),
  .theme_3 p:nth-of-type(2),
  .theme_2 p:nth-of-type(2) {
    grid-column: 2;
    grid-row: 3;
  }

  .theme_5 p:nth-of-type(4),
  .theme_4 p:nth-of-type(4),
  .theme_3 p:nth-of-type(4),
  .theme_2 p:nth-of-type(4) {
    grid-column: 1;
    grid-row: 5;
  }

  .theme_5 img,
  .theme_4 img,
  .theme_4 img,
  .theme_2 img {
    margin-top: 0;
  }
  .kivilai_1 {
    padding: 0 0 0.5rem;
  }

  #portrait_3 {
    max-width: 500px;
  }

  .add-space {
    margin-top: 0;
  }

  .add-space-desktop {
    margin-top: 1rem;
  }

  .container {
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .container_2 {
    flex-direction: row;
    gap: 2rem;
  }

  .statement {
    max-width: 450px;
  }

  .desktop-only {
    display: flex;
  }

  .divider_2 {
    display: none;
  }

  .btn-dim {
    width: 400px;
  }

  .btn-dim a {
    max-width: 100%;
    margin-top: 0;
  }

  .content {
    width: 100%;
    max-width: 500px;
  }

  .portfolio-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .btn {
    max-width: 500px;
  }
}

@media (min-width: 499px) and (max-width: 950px) {
  .btn-dim {
    width: 285px;
  }
}
